<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="propertyHistoryModal" class="modal fade" id="propertyHistoryModal" tabindex="-1"
        aria-labelledby="propertyHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header property-history-modal-header">
                    <div>
                        <h5 class="modal-title" id="propertyHistoryModalLabel">Property History</h5>
                        <div class="small text-white-50">
                            Property ID: <span id="propertyHistoryPropertyId"></span>
                            <span class="mx-1" aria-hidden="true">|</span>
                            Property Name: <span id="propertyHistoryPropertyName"></span>
                        </div>
                    </div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="propertyHistoryError" class="alert alert-danger d-none" role="alert"></div>
                    <div class="table-responsive">
                        <table id="propertyHistoryTable" class="table table-striped table-hover align-middle w-100">
                            <thead>
                                <tr>
                                    <th scope="col">Date and Time</th>
                                    <th scope="col">Log Type</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Recorded By / Employee</th>
                                    <th scope="col">Notes</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" id="printPropertyHistoryBtn"
                        title="Print property history">
                        <i class="bi bi-printer" aria-hidden="true"></i>
                        <span class="visually-hidden">Print property history</span>
                    </button>
                    <button type="button" class="btn btn-outline-success" id="exportPropertyHistoryBtn"
                        title="Export property history to Excel">
                        <i class="bi bi-file-earmark-excel" aria-hidden="true"></i>
                        <span class="visually-hidden">Export property history to Excel</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Close history">
                        <i class="bi bi-x-lg" aria-hidden="true"></i>
                        <span class="visually-hidden">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>